In [24]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
 'a':pd.date_range(start='2016-01-01',periods=20, freq='D'),
 'y':np.random.randn(20),
 'c':np.random.choice(['low','medium','high'], 20).tolist()
})
df2 = df.reindex(index=[0,2],columns=['a','c'])
df2
df3 = pd.DataFrame(np.random.randn(10,2),
                  index=[1,4,6,2,3,5,9,8,0,7], columns=['col1','col2'])
df3
df4 = df3.sort_index()
df4
df5 = df4.sort_index(ascending=False)
df5
#df5.sort_index(axis=1)
df5.sort_values(by='col1')
df5.sort_values(by=['col1','col2'])
#print(df3)
#print(df3.sort_index(axis=0))

       col1      col2
7 -2.454849  0.899233
9 -1.561519  0.051628
3 -0.544606 -0.079674
6 -0.455556  1.666808
4 -0.444174 -1.588490
5 -0.357077  1.385444
1 -0.165943 -0.425303
0  0.719952  0.025018
8  0.938234 -0.600413
2  1.142301  0.027699

In [46]:
# dataframe
# ['a'] -> column
# iloc[0] -> row select by index
# loc['a'] -> row select by label
#df.iloc[0,0]
#df.loc['a','b']

df5 = pd.DataFrame(np.random.randn(8,4),
                   index=['a','b','c','d','d','f','g','h'],
                   columns = ['A', 'B', 'C', 'D']
                  )
df5
type(df5['A'])
type(df5.iloc[0,0])
type(df5.loc[:,'A'])
type(df5.iloc[:,0])
df5.loc[:,['A','B']]
df5.iloc[2:,:]
df5.iloc[1:]
df5.loc['a'] > 0

# Series .loc. iloc
# DataFrame .loc[row,column] or iloc[,]

A    False
B     True
C     True
D     True
Name: a, dtype: bool

In [25]:
  col1  col2
0 1     1
1 1     2
2 2     1
3 2     2
4 3     1
4 3     2

       col1      col2
9 -1.561519  0.051628
8  0.938234 -0.600413
7 -2.454849  0.899233
6 -0.455556  1.666808
5 -0.357077  1.385444
4 -0.444174 -1.588490
3 -0.544606 -0.079674
2  1.142301  0.027699
1 -0.165943 -0.425303
0  0.719952  0.025018