In [18]:
import numpy as np
import pandas as pd

In [19]:
import os
path = './라벨링 완료/'
file_list = os.listdir(path) # 경로의 파일 이름 리스트로 만들기
source = ['오토트리뷴', '데일리카', '지피코리아', '한경', '모토야', '라이드매거진', 'rpm9', '글로벌오토뉴스', '동아오토',
 '모터그래프', '아이오토카', '엔카매거진', '오토다이어리', '오토뷰', '카랩', '탑라이더']
kc = []
for i in range(len(file_list)) :
    kc.append(i)
    kc[i] = pd.read_csv(path+file_list[i], encoding = 'cp949')
    kc[i]['source'] = label[i]
    
alldf = pd.concat(kc)

In [20]:
alldf

,title,body,brand,name,source
0,"1인 가구 기자가 반한 차, 508 SW 시승기",이번에 시승한 508 SW는 지난 3월 앞서 시승한 508 모델의 왜건형 모델로써 ...,푸조,508 SW,오토트리뷴
1,"가장 감성적인 페라리, 포르토피노 시승기",스포츠카 혹은 슈퍼카 제조사로 잘 알려진 페라리는 GT카 역시 일가견 있는 제조사다...,페라리,포르토피노,오토트리뷴
2,우천 시에도 태양광 충전이 될까? 현대 쏘나타 하이브리드 시승기,하이브리드 자동차는 내연기관과 전기 구동 기술이 모두 적용되어 자동차 제조사의 모든...,현대,소나타 하이브리드,오토트리뷴
3,"예고된 이별이었지만 완벽했다, 페라리 488 스파이더 시승기",페라리의 국내 공식 수입 및 판매를 담당하고 있는 FMK가 페라리의 베스트셀러인 4...,페라리,488 스파이더,오토트리뷴
4,"작지만 다 있더라, 현대 베뉴 플럭스 시승기",엑센트의 신형 모델은 이미 일찌감치 러시아에서 폴라리스라는 모델명으로 판매되고 있었...,현대,베뉴 플럭스 트림,오토트리뷴
...,...,...,...,...,...
58,"신형 싼타페, 주행감각과 승차감에 올인",현대자동차 신형 싼타페를 시승했다. 4세대 모델인 신형 싼타페는 풀체인지 모델로 디...,현대,싼타페,탑라이더
59,"먼저 타본 미래차, 수소전기차 '넥쏘'",현대자동차의 2세대 수소전기차 넥쏘를 시승했다. 넥쏘는 양산형 수소전기차 중 가장 ...,현대,넥쏘,탑라이더
60,"혼다 오딧세이, 주행성능까지 챙긴 '슈퍼밴'","혼다 올 뉴 오딧세이를 시승했다. 5세대 모델인 올 뉴 오딧세이는 캐빈와치, 캐빈토...",혼다,오딧세이,탑라이더
61,"제네시스 G70 디젤, 진동은 어떻게 잡았나",제네시스 G70 2.2D HTRAC을 시승했다. G70 디젤은 제네시스 라인업 유일...,제네시스,G70 디젤,탑라이더
62,"렉스턴 스포츠, 2천만원대 픽업의 가치",쌍용자동차 렉스턴 스포츠를 시승했다. 렉스턴 스포츠는 픽업트럭의 불모지에서 탄생했음...,쌍용,렉스턴 스포츠,탑라이더

In [21]:
alldf.title.value_counts()

폭스바겐 2세대 티구안 독일                 2
르노삼성 SM6 프라임                    2
마세라티 르반떼 GTS                    2
링컨 노틸러스 2.7T AWD                2
7인승 SUV로는 ‘안성맞춤’..포드 익스플로러      1
                               ..
매너가 M을 만든다 - BMW 6세대 M5         1
 심장이 반응하는 사운드, 마세라티             1
포르쉐 3세대 카이엔                     1
마세라티 기블리 S Q4 그란 스포츠…극단적인 매력    1
미래와의 조우, 현대 수소전기차 ‘넥쏘’          1
Name: title, Length: 1446, dtype: int64

In [22]:
alldf[alldf.title == '마세라티 르반떼 GTS']

,title,body,brand,name,source
60,마세라티 르반떼 GTS,마세라티 르반떼 GTS를 시승했다. 3.8리터 V형 8기통 트윈 터보 엔진을 탑재하...,마세라티,르반떼 GTS,글로벌오토뉴스
43,마세라티 르반떼 GTS,"고급차에게 필요한 것이 뭘까? 넉넉한 공간, 최고급 소재, 다양한 편의장비... 모...",마세라티,르반떼 GTS,오토뷰

In [23]:
alldf[alldf.title == '르노삼성 SM6 프라임']

,title,body,brand,name,source
72,르노삼성 SM6 프라임,르노삼성의 중형 세단 SM6 프라임을 시승했다. 2.0리터 가솔린 엔진에 변속기를 ...,르노,SM6,글로벌오토뉴스
41,르노삼성 SM6 프라임,르노삼성이 가성비라는 무기를 전략으로 쓰고 있다. 단종 수순을 밟아야 했던 SM5의...,르노,SM6 프라임,오토뷰

In [24]:
alldf[alldf.title == '링컨 노틸러스 2.7T AWD']

,title,body,brand,name,source
14,링컨 노틸러스 2.7T AWD,링컨의 준대형 SUV 노틸러스(Nautilus)를 시승했다. MKX의 부분 변경을 ...,링컨,노틸러스,글로벌오토뉴스
12,링컨 노틸러스 2.7T AWD,잠시 과거로 가보자. 15년 정도 이전일까? 그때도 매달 수많은 차들을 만나고 있었...,링컨,노틸러스,오토뷰

In [28]:
alldf[alldf.title == '폭스바겐 2세대 티구안 독일']

,title,body,brand,name,source
155,폭스바겐 2세대 티구안 독일,폭스바겐의 컴팩트SUV 티구안 2세대 모델을 시승했다. 골프가 그렇듯이 만인을 위한...,폭스바겐,티구안,글로벌오토뉴스

In [27]:
alldf = alldf.drop(187, axis=0)

KeyError: '[187] not found in axis'

In [29]:
alldf[alldf.title == '폭스바겐 2세대 티구안 독일']

,title,body,brand,name,source
155,폭스바겐 2세대 티구안 독일,폭스바겐의 컴팩트SUV 티구안 2세대 모델을 시승했다. 골프가 그렇듯이 만인을 위한...,폭스바겐,티구안,글로벌오토뉴스

In [57]:
alldf.brand.value_counts()

현대       151
기아       124
쌍용        90
BMW       82
볼보        72
르노        66
쉐보레       62
혼다        57
지프        52
푸조        49
토요타       49
벤츠        48
렉서스       41
닛산        36
랜드로버      36
페라리       35
재규어       34
캐딜락       32
제네시스      32
폭스바겐      30
인피니티      30
포르쉐       29
르노삼성      28
시트로엥      28
마세라티      23
포드        18
링컨        15
미니        13
아우디       12
테슬라       12
람보르기니     11
DS         8
벤틀리        7
롤스로이스      4
맥라렌        3
Name: brand, dtype: int64

In [31]:
alldf.loc[alldf['brand'] == '알피느']

,title,body,brand,name,source
48,"알피느 A110 시승기, 포르쉐 카이맨의 설득력 있는 대안",전설적인 프랑스 브랜드가 부활했다. 그리고 그들은 재빨리 포르쉐 카이맨과 겨룰만한...,알피느,A110,엔카매거진

In [32]:
alldf.loc[48, 'brand'] = '르노'
alldf.loc[48, 'name'] = '알피느 A110'

C:\Users\Administrator\.conda\envs\multicampus\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\Administrator\.conda\envs\multicampus\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Administrator\.conda\envs\multicampus\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [33]:
alldf.loc[alldf['brand'] == '벤트']

,title,body,brand,name,source
114,AMG의 힘 - 메르세데스-AMG E63 4MATIC 서킷 체험기,"5월 8일, 메르세데스-벤츠코리아는 ‘AMG 스피드웨이’의개장을 알리며 공식 오픈 ...",벤트,E클래스 AMG,모토야

In [34]:
alldf.loc[114, 'brand'] = '벤츠'

C:\Users\Administrator\.conda\envs\multicampus\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [35]:
alldf.loc[alldf['brand'] == '와이즈오토']

,title,body,brand,name,source
57,"쇼퍼드리븐의 재해석, 와이즈오토 브이스타",7인승 럭셔리 중형 밴 선두주자 고급 소재와 섬세한 마감 돋보여 국내 중형 ...,와이즈오토,V Star,한경

In [36]:
alldf = alldf.drop(57, axis=0)

In [37]:
alldf = alldf.replace('토요터','토요타')

In [38]:
alldf = alldf.replace('쉐볼레','쉐보레')

In [39]:
alldf.loc[alldf['brand'] == '티볼리']

,title,body,brand,name,source
78,생동감 불어넣은 티볼리 아머,끊임없이 변화를 추구해온 티볼리가 외관 컬러 변화로 또다시 생동감을 불어넣었다 ...,티볼리,아머,아이오토카

In [40]:
alldf.loc[78, 'brand'] = '쌍용'
alldf.loc[78, 'name'] = '티볼리 아머'

In [41]:
alldf.loc[alldf['brand'] == '스카니아']

,title,body,brand,name,source
177,모든 것이 새롭다 - 올 뉴 스카니아,트럭은 다른 자동차들과는 다르다. 새로운 기술의 적용보다는 신뢰성이 우선되고 디자인...,스카니아,스카니아,글로벌오토뉴스

In [42]:
alldf = alldf.drop(177, axis=0)

In [47]:
alldf.loc[alldf['brand'] == '알파로메오']

,title,body,brand,name,source
52,"이탈리아 감성의 소형 해치백, 알파 로메오 미토",알파 로메오는 이탈리아의 전통있는 자동차 메이커이다. 모터스포츠에 투자를 아끼지 않...,알파로메오,미토,라이드매거진

In [48]:
alldf = alldf.drop(52, axis=0)

In [49]:
alldf.loc[alldf['brand'] == '파나메라']

,title,body,brand,name,source
99,"파나메라 4E 하이브리드, 부자아빠의 두 얼굴 고성능과 친환경","?엄격해지는 배기가스 규제, 포르쉐도 피할 수는 없다. 포르쉐 파나메라 4E 하이브...",파나메라,4E 하이브리드,오토다이어리

In [50]:
alldf.loc[99, 'brand'] = '포르쉐'
alldf.loc[99, 'name'] = '파나메라 4E 하이브리드'

C:\Users\Administrator\.conda\envs\multicampus\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Administrator\.conda\envs\multicampus\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [54]:
alldf.loc[alldf['brand'] == '스즈키']

,title,body,brand,name,source
105,"운전자의 보석, 스즈키 스위프트 스포트",일본산 드라이버즈카는 이제 한정된 예산으로 살 수 있는 차가 아닌 것처럼 보인다 ...,스즈키,스위프트 스포츠,아이오토카

In [55]:
alldf = alldf.drop(105, axis=0)

In [58]:
alldf.to_csv('review.csv', index=False)