In [1]:
import numpy as np

In [2]:
import pandas as pd
df_org = pd.read_csv('last.csv')
# df = df_org.copy()

In [3]:
df_ = df_org.pivot_table(index=['brand','name'], aggfunc={'min':np.mean, 'max':np.mean, 'score':[np.min, np.mean, np.max]} )
df = df_.copy()

In [21]:
df = df_.copy()
# df.head()

                max      min     score
               mean     mean      amax      amin      mean
brand name
BMW   3시리즈   6510.0   5320.0  5.952371  1.017317  3.450947
      5시리즈  12220.0   6330.0  4.710015  2.009827  3.100927
      7시리즈  23220.0  13700.0  5.215054  2.619893  3.656277
      M5    15430.0  14510.0  6.512284  0.263867  2.564591
      X2     6190.0   6190.0  5.168520  1.647904  3.295695

In [4]:
df = df.droplevel(level=0, axis=1)
# df.head()

In [5]:
df.columns = ['max', 'min', 'score_max', 'score_min', 'score_mean']

In [6]:
df.index.names = (None,None)

In [7]:
df = df[['min','max', 'score_min', 'score_mean', 'score_max']]
# df.head()

In [9]:
def search(min_price, max_price):
    return pd.DataFrame(df.loc[(df['max'] < max_price) & (df['min'] > min_price)]).sort_values('score_mean', ascending=False)

In [10]:
search(4000, 5000)

                   min     max  score_min  score_mean  score_max
토요타  아발론        4730.0  4730.0   2.284694    4.522907   7.013987
푸조   3008       4070.0  4430.0   2.905732    3.965322   5.845908
     3008 GT    4990.0  4990.0   2.961718    3.837951   5.460997
토요타  아발론 하이브리드  4660.0  4660.0   1.796205    3.462499   6.576324
혼다   어코드 하이브리드  4470.0  4470.0   2.308983    3.396033   4.852317
폭스바겐 티구안        4133.0  4439.0   1.761789    3.346707   4.512766
닛산   리프         4190.0  4830.0   1.051346    3.314156   4.714711
인피니티 QX30       4360.0  4810.0   1.674169    3.301118   5.223488
벤츠   어코드 하이브리드  4470.0  4470.0   3.069157    3.069157   3.069157
현대   코나 일렉트릭    4650.0  4850.0   1.017534    2.952336   5.340934
쉐보레  볼트 EV      4593.0  4814.0   2.213639    2.852448   3.733054
기아   쏘울 부스터 EV  4630.0  4830.0   1.878815    2.762015   3.888397
현대   아이오닉 일렉트릭  4140.0  4440.0   1.430258    2.712239   3.439353
푸조   5008       4490.0  4790.0   0.442297    2.581649   3.899710
기아   니로 EV      4780.0  4980.0   0.327115    2.519667   5.175939