In [1]:
import numpy as np

In [2]:
import pandas as pd
df_org = pd.read_csv('last.csv')
# df = df_org.copy()

In [3]:
df = df_org.copy()

In [4]:
df_ = df_org.pivot_table(index=['brand','name'], aggfunc={'min':np.mean, 'max':np.mean, 'score':[np.min, np.mean, np.max]} )
df = df_.copy()

In [45]:
# df = df_.copy()
# df.head()

In [5]:
df = df.droplevel(level=0, axis=1)
# df.head()

In [6]:
df.columns = ['max', 'min', 'score_max', 'score_min', 'score_mean']

In [7]:
df.index.names = (None,None)

In [8]:
df = df[['min','max', 'score_min', 'score_mean', 'score_max']]
# df.head()

In [9]:
df2 = df.reset_index().rename(columns = {'level_0':'brand', 'level_1':'name'})

In [69]:
# df2.rename(columns = {'level_0':'brand', 'level_1':'name'})
df2.head()

  brand  name      min      max  score_min  score_mean  score_max
0   BMW  3시리즈   5320.0   6510.0   1.017317    3.450947   5.952371
1   BMW  5시리즈   6330.0  12220.0   2.009827    3.100927   4.710015
2   BMW  7시리즈  13700.0  23220.0   2.619893    3.656277   5.215054
3   BMW    M5  14510.0  15430.0   0.263867    2.564591   6.512284
4   BMW    X2   6190.0   6190.0   1.647904    3.295695   5.168520

In [10]:
df = df2

In [73]:
def search_price(min_price, max_price):
    return pd.DataFrame(df.loc[(df['max'] < max_price) & (df['min'] > min_price)]).sort_values('score_mean', ascending=False)

In [74]:
search_price(4000, 5000)

    brand       name     min     max  score_min  score_mean  score_max
114   토요타        아발론  4730.0  4730.0   2.284694    4.522907   7.013987
133    푸조       3008  4070.0  4430.0   2.905732    3.965322   5.845908
134    푸조    3008 GT  4990.0  4990.0   2.961718    3.837951   5.460997
115   토요타  아발론 하이브리드  4660.0  4660.0   1.796205    3.462499   6.576324
158    혼다  어코드 하이브리드  4470.0  4470.0   2.308983    3.396033   4.852317
130  폭스바겐        티구안  4133.0  4439.0   1.761789    3.346707   4.512766
24     닛산         리프  4190.0  4830.0   1.051346    3.314156   4.714711
89   인피니티       QX30  4360.0  4810.0   1.674169    3.301118   5.223488
58     벤츠  어코드 하이브리드  4470.0  4470.0   3.069157    3.069157   3.069157
153    현대    코나 일렉트릭  4650.0  4850.0   1.017534    2.952336   5.340934
70    쉐보레      볼트 EV  4593.0  4814.0   2.213639    2.852448   3.733054
22     기아  쏘울 부스터 EV  4630.0  4830.0   1.878815    2.762015   3.888397
151    현대  아이오닉 일렉트릭  4140.0  4440.0   1.430258    2.712239   3.439353
136    푸조       5008  4490.0  4790.0   0.442297    2.581649   3.899710
14     기아      니로 EV  4780.0  4980.0   0.327115    2.519667   5.175939

In [79]:
def search_brand(brand_name):
    return pd.DataFrame(df.loc[df['brand'] == brand_name]).sort_values('score_mean', ascending=False)

In [80]:
search_brand('BMW')

  brand  name      min      max  score_min  score_mean  score_max
6   BMW  X4 M  10820.0  10820.0   2.441913    3.714737   4.604698
2   BMW  7시리즈  13700.0  23220.0   2.619893    3.656277   5.215054
5   BMW    X3   6640.0   8420.0   2.486721    3.536335   4.418815
0   BMW  3시리즈   5320.0   6510.0   1.017317    3.450947   5.952371
4   BMW    X2   6190.0   6190.0   1.647904    3.295695   5.168520
8   BMW    Z4   6520.0   9070.0   2.455787    3.295539   4.035342
7   BMW    X5   9790.0  13890.0   1.133526    3.214008   5.199843
1   BMW  5시리즈   6330.0  12220.0   2.009827    3.100927   4.710015
3   BMW    M5  14510.0  15430.0   0.263867    2.564591   6.512284

In [16]:
def search(*user_input):
    cnt = 0
    for i in user_input:
        cnt += 1    
    
    if cnt == 1:
        brand_name = user_input[0].upper()
        return pd.DataFrame(df.loc[df['brand'] == brand_name]).sort_values('score_mean', ascending=False)    
    else:
        min_price = user_input[0]
        max_price = user_input[1]        
        return pd.DataFrame(df.loc[(df['max'] < max_price) & (df['min'] > min_price)]).sort_values('score_mean', ascending=False)

In [26]:
search(3000, 4000)

    brand    name     min     max  score_min  score_mean  score_max
12     기아      K7  3094.0  3799.0   2.797225    3.833467   5.979294
135    푸조  308 GT  3990.0  3990.0   2.536707    3.429400   4.917750
132    푸조    2008  3150.0  3350.0   1.939840    3.080391   4.186681
110   토요타     라브4  3540.0  3540.0   1.466852    3.046328   4.281342
51     미니      쿠퍼  3990.0  3990.0  -0.866414    1.688065   4.237287

In [25]:
search('bmw')

  brand  name      min      max  score_min  score_mean  score_max
6   BMW  X4 M  10820.0  10820.0   2.441913    3.714737   4.604698
2   BMW  7시리즈  13700.0  23220.0   2.619893    3.656277   5.215054
5   BMW    X3   6640.0   8420.0   2.486721    3.536335   4.418815
0   BMW  3시리즈   5320.0   6510.0   1.017317    3.450947   5.952371
4   BMW    X2   6190.0   6190.0   1.647904    3.295695   5.168520
8   BMW    Z4   6520.0   9070.0   2.455787    3.295539   4.035342
7   BMW    X5   9790.0  13890.0   1.133526    3.214008   5.199843
1   BMW  5시리즈   6330.0  12220.0   2.009827    3.100927   4.710015
3   BMW    M5  14510.0  15430.0   0.263867    2.564591   6.512284