In [3]:
# pandas 
# data structure
# 1. Series  1
# 2. DataFrame 2
# 3. Panel 3

# index(axis=0), colums(axis=1)

# Series (Size=Immutable)

In [2]:
import pandas as pd
s = pd.Series()
s

Series([], dtype: float64)

In [3]:
import numpy as np
import pandas as pd
data = np.array(['a','b','c','d'])
s1 = pd.Series(data)
s1
s2 = pd.Series(data, index=[100,101,102,103])
s2
data2 = {'a':0, 'b':1, 'c':2, 'd':3}
s3 = pd.Series(data2)
s3
s4 = pd.Series(data2, index=['b','a','c','e'])
s4
print(s4[2])
print(s4['a'])
s4[:3]
s4[1:]
s4[-3:]
s4[['a','b']]

2.0
0.0

a    0.0
b    1.0
dtype: float64

In [4]:
# DataFrame(Size - Mutable)
# -> Lists, dict, Series, Numpy narrays, ...dataframe

In [5]:
import pandas as pd
df = pd.DataFrame()
df
data = [1,2,3,4,5,6]
df2 = pd.DataFrame(data)
df2
data2 = [['Tome',2000], ['John', 3000], ['Amy', 5000]]
df3 = pd.DataFrame(data2)
df3
df4 = pd.DataFrame(data2, 
                   index=['one','two','three'],
                   columns=['Name', 'Salary'], dtype=float)
df4

       Name  Salary
one    Tome  2000.0
two    John  3000.0
three   Amy  5000.0

In [6]:
data3 = {'Name':['a','b','c'],'salary':['100','200','300']}
df5 = pd.DataFrame(data3)
df5

  Name salary
0    a    100
1    b    200
2    c    300

In [7]:
data4 = {'one':pd.Series([1,2,3], index=['a', 'b', 'c']),
        'two':pd.Series([1,2,3,4], index=['a','b','c','d'])}
df6 = pd.DataFrame(data4)
df6
df6['one']
df6['two']
df6['three'] = pd.Series([10,20,30],index=['b','c','d'])
df6
df6["four"] = df6['one'] + df6['two']
df6

del df6['one']
df6

   two  three  four
a    1    NaN   2.0
b    2   10.0   4.0
c    3   20.0   6.0
d    4   30.0   NaN

In [8]:
print(df6)
# index
# label, index --> loc, iloc (row select)
#df6['two']
#df6.loc['two']
#df6.iloc[0]
df6.loc['a']
df6.iloc[1]
d = df6.iloc[1]
type(d)

d2 = pd.DataFrame(d)
type(d2)
d2

   two  three  four
a    1    NaN   2.0
b    2   10.0   4.0
c    3   20.0   6.0
d    4   30.0   NaN

          b
two     2.0
three  10.0
four    4.0

In [12]:
df7 = pd.DataFrame([[1,2],[3,4]], columns=['a','b'])
df8 = pd.DataFrame([[5,6],[7,8]], columns=['a','b'])
df9 = df7.append(df8)
df9
df10 = df9.drop(0)

In [18]:
import pandas as pd
import numpy as np
data = np.random.randn(2,4,5)
type(data)
df11 = pd.Panel(data)
df11

data2 = {'one':pd.DataFrame(np.random.randn(4,3)),
        'two':pd.DataFrame(np.random.randn(4,2))}

df12 = pd.Panel(data2)
type(df12['two'])
print(df12['one'])
print(df12['two'])

          0         1         2
0 -1.129590  1.299233 -0.395019
1 -0.250218 -0.926377 -0.467371
2  0.165075  0.635635 -0.595273
3  0.807972  0.837084  1.274128
          0         1   2
0 -1.115685 -0.496095 NaN
1 -0.570039  0.340172 NaN
2  0.969085  0.135984 NaN
3  0.175732  1.128125 NaN

In [22]:
import numpy as np
import pandas as pd
s = pd.Series(np.random.randn(4))
type(s)
s.ndim
s.size
type(s)
type(s.values)

pandas.core.series.Series

In [25]:
data5 = [[1,2], [3,4]]
df20 = pd.DataFrame(data5)
df20.T
df20.dtypes
df20.ndim
df20.shape
df20.size
df20.values
df20.describe()

              0         1
count  2.000000  2.000000
mean   2.000000  3.000000
std    1.414214  1.414214
min    1.000000  2.000000
25%    1.500000  2.500000
50%    2.000000  3.000000
75%    2.500000  3.500000
max    3.000000  4.000000

In [26]:
df20
df20[0].map(lambda x:x*100)

0    100
1    300
Name: 0, dtype: int64

In [28]:
df21 = pd.DataFrame(np.random.randn(10,3), columns=['col1', 'col2', 'col3'])
df22 = pd.DataFrame(np.random.randn(7,3), columns=['col1', 'col2', 'col3'])
df23 = df21.reindex_like(df22)
df24 = df23.rename(columns={'col1':'cl1', 'col2':'cl2'},
                  index={0:'one', 1:'two'})
df24

        cl1       cl2      col3
0 -0.659889  0.913180 -0.467744
1 -0.785537 -0.686069 -0.043781
2  1.233927  0.752048 -0.459039
3 -1.528541  0.848879 -0.487571
4  0.912302  0.399898 -0.089144
5 -1.943524 -0.944062 -0.160607
6  0.769310 -0.550450 -1.137292